/*=========== Footer  ==========*/

.footer-card {
  background-color: #f4f5f7;
  text-align: center;
}

.footer-card .footer-search {
  margin-left: auto;
  margin-right: auto;
}

.footer-card .argon-doku-footer-fullmenu {
  margin-left: auto;
  margin-right: auto;
}

.footer-card .argon-doku-footer-fullmenu li {
  display: inline;
  fill: #6c757d;
}

.footer-card .argon-doku-footer-fullmenu li :hover {
  fill: #525f7f;
}

.footer-card .argon-doku-footer-fullmenu li:nth-of-type(1) {
  margin-left: 0em;
}
