/*=========== Colors  ==========*/

:root {
  --cloud-burst: #223547;
  --observatory: #04857F;
  --java: #1bd9c4;
  --valencia: #d93d33;
  --light-valencia: #EC6450;
  --yellow: #ffbc42;
  --light-yellow: #FDD398;
  --navy: #052854;
  --light-navy: #9399B4;
  --blue: #267CB9;
  --light-blue: #88B1D4;
  --light-grey: #EFEFEF;
  --grey-dark: #5e6687;
}